*.o
*~
Makefile
autom4te.cache/
besmtool/.deps/
besmtool/Makefile
config.h
config.log
config.status
disbesm6/.deps/
disbesm6/Makefile
dispak/.deps/
dispak/Makefile
po/Makefile
po/Makefile.in
po/POTFILES
stamp-h1
dispak/debug.c
