*.o
*~
autom4te.cache/
besmtool/besmtool
besmtool/.deps/
besmtool/Makefile
config.h
config.log
config.status
disbesm6/.deps/
disbesm6/disbesm6
disbesm6/Makefile
dispak/debug.c
dispak/.deps/
dispak/.dirstamp
dispak/disks/
dispak/dispak
dispak/Makefile
Makefile
po/Makefile
po/Makefile.in
po/POTFILES
stamp-h1
